In [1]:
import pandas as pd

In [2]:
llm_df = pd.read_csv('llm_labeled_data.csv')
bert_df = pd.read_csv('youtube_hello_comments_clustered.csv')

In [13]:
llm_df = llm_df.dropna()
llm_df

                                                Comment     Label
0                                     im here in 2024 .   neutral
1     when i first heard of adele this was my favori...  positive
2                                                    Me   neutral
3     This is how I protested. Triumph , natural bud...  positive
4            I want to bay this youtube I from somali ðŸ˜®  positive
...                                                 ...       ...
4993                   Thanks Nicki for putting me on ðŸ˜Š  positive
4994                                               2024   neutral
4995                             Anyone here in 2030ðŸ˜¢ðŸ˜¢ðŸ˜¢  negative
4996  It's not what the song is about but.. I think ...  negative
4998  in the music video, a dark-skinned guy plays t...  negative

[4672 rows x 2 columns]

In [15]:
bert_df = bert_df[['comment', 'sentiment']]
bert_df = bert_df.rename(columns={'comment': 'Comment', 'sentiment': 'Label'})
bert_df['Label'] = bert_df['Label'].str.lower()
bert_df

                                                Comment     Label
0                                     im here in 2024 .  positive
1     when i first heard of adele this was my favori...  positive
2     This is how I protested. Triumph , natural bud...  positive
3            I want to bay this youtube I from somali ðŸ˜®  negative
4                           like this song happen to me  positive
...                                                 ...       ...
4380                                    Hello itâ€™s me ðŸ˜¢  positive
4381                   Thanks Nicki for putting me on ðŸ˜Š  positive
4382                             Anyone here in 2030ðŸ˜¢ðŸ˜¢ðŸ˜¢  positive
4383  It's not what the song is about but.. I think ...  negative
4384  in the music video, a dark-skinned guy plays t...  negative

[4385 rows x 2 columns]

In [21]:
merged = pd.merge(llm_df, bert_df, on='Comment', how='outer')
merged = merged.drop_duplicates(subset='Comment', keep='first')
merged = merged.rename(columns={'Label_x': 'LLM_Label', 'Label_y': 'BERT_Label'})
merged

                                                Comment LLM_Label BERT_Label
0                                     im here in 2024 .   neutral   positive
1     when i first heard of adele this was my favori...  positive   positive
2                                                    Me   neutral        NaN
47    This is how I protested. Triumph , natural bud...  positive   positive
48           I want to bay this youtube I from somali ðŸ˜®  positive   negative
...                                                 ...       ...        ...
8193                                    Hello itâ€™s me ðŸ˜¢  negative   positive
8194                   Thanks Nicki for putting me on ðŸ˜Š  positive   positive
8195                             Anyone here in 2030ðŸ˜¢ðŸ˜¢ðŸ˜¢  negative   positive
8196  It's not what the song is about but.. I think ...  negative   negative
8197  in the music video, a dark-skinned guy plays t...  negative   negative

[4274 rows x 3 columns]

In [23]:
merged[['LLM_Label', 'BERT_Label']].describe()

       LLM_Label BERT_Label
count       4274       4109
unique         3          2
top     positive   positive
freq        2517       2875

In [33]:
print(merged['LLM_Label'].value_counts())
merged['BERT_Label'].value_counts()

positive    2517
neutral     1219
negative     538
Name: LLM_Label, dtype: int64

positive    2875
negative    1234
Name: BERT_Label, dtype: int64

In [42]:
ac = (merged.LLM_Label == merged.BERT_Label).mean()
print(f'Agreement between LLM and BERT: {ac*100:.2f}%')

Agreement between LLM and BERT: 54.68%